@use 'variables' as v;

.characters {
  padding: 80px 0;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
    justify-items: center; /* Alinha os itens ao centro horizontalmente */
  }
}

.character-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha a imagem e o nome ao centro */
  min-height: 300px; /* Define uma altura mínima para uniformizar os cards */

  img {
    max-width: 100%; /* Garante que a imagem não exceda o container */
    height: auto;
    width: 150px; /* Define uma largura fixa para uniformidade */
    aspect-ratio: 1; /* Restaura a proporção quadrada */
    object-fit: contain; /* Preserva a imagem inteira sem cortes */
    margin-bottom: 16px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0; /* Remove margens padrão para alinhamento preciso */
    flex-grow: 1; /* Faz o texto ocupar o espaço restante, alinhando-o na base */
    display: flex;
    align-items: flex-end; /* Alinha o texto na parte inferior do espaço */
    padding-top: 10px; /* Adiciona um pequeno espaçamento acima do texto */
  }

  &--joy {
    color: v.$cor-primaria;
  }

  &--sadness {
    color: #4a90e2;
  }

  &--anger {
    color: #d0021b;
  }

  &--fear {
    color: #9013fe;
  }

  &--disgust {
    color: #7ed321;
  }
}