@use '../base/variables';

.product-button {
  display: block;
  background-color: variables.$cor-botao;
  color: variables.$cor-texto-claro;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  margin-top: 8px;
  text-decoration: none;

  &:hover {
    background-color: variables.$cor-botao-hover;
  }
}
